requests
pandas
numpy
earthpy
landsatxplore
elevation
rasterio
geopandas
contextily
openpyxl
seaborn
sqlalchemy
tensorflow
tensorflow_addons
scikit-learn
ee
Basemap
shap
keras_tuner
rtree
h5py
spatial-kfold
google-cloud-storage